/*头部样式开始*/
#head{
    background-color: #4c6db4;
    width: 800px;
    height: 80px;
    margin: 10px auto;
}
#head a{
    float: left;
    font-size: 36px;
    line-height: 80px;
    margin: 0 0 0 10px;
    font-weight: bold;
    color: #ffffff;
}
#head ul{
    float: right;
    width: 140px;
    background: #ffffff;
    margin: 10px 10px 0 0;
}
#head ul li{
    float: left;
}
/*头部样式结束*/

/*导航样式开始*/
#menu{
    width: 780px;
    height: 16px;
    background-color: #4c6db4;
    margin: 5px auto;
    padding: 10px;
}
#menu #list>li{
    float: left;
    padding-right: 15px;
    position: relative;
}
#menu #list>li a{
    display: block;
    padding: 0 5px;
    background: #EEEEEE;
    font-weight: bold;
    color: #4c6db4;
}
#menu #list>li a:hover{
    background: none;
    color: #ffffff;
    text-decoration: underline;
}
#menu #list li ul{
    position: absolute;
    display: none;
    width: 80px;
    background: #88C366;
}
#menu #list li:hover ul{
    display: block;
}
#menu #list li ul li{
    text-align: left;
    line-height: 22px;
    border-bottom: 1px solid #cccccc;
}
/*导航样式结束*/

/*主体样式开始*/
#main{
    width: 798px;
    margin: 0 auto;
    border: 1px solid red;
}
#main .left{
    float: left;
    width: 200px;
    height: 400px;
    border: 1px solid #6633CC;
}
#main .right{
    float: right;
    width: 586px;
    height: 400px;
    border: 1px solid #0000FF;
}
#main .right .righttop{
    position: relative;
    width: 586px;
    height: 150px;
    overflow: hidden;
}
#main .right .righttop .pic{
    width: 586px;
    height: 1050px;
    position: absolute;
    top: 0;
}
#main .right .righttop .buttons{
    position: absolute;
    height: 16px;
    width: 116px;
    z-index: 2;
    bottom: 10px;
    right: 10px;
}
#main .right .righttop .buttons span{
    float: left;
    cursor: pointer;
    border: 1px solid orange;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    text-align: center;
    color: orange;
    background: #ffffff;
}
#main .right .righttop .buttons .on{
    background: orange;
    color: #ffffff;
    font-weight: bold;
}